name: CI

on:
  push:
    branches:
      - 'main'
  pull_request:

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - name: Set up JDK 17
        uses: actions/setup-java@v1
        with:
          java-version: 17

      - name: Checkout sources
        uses: actions/checkout@v1

      - name: Compile with Maven
        run: >
          mvn --batch-mode -Pjacoco verify
          org.sonarsource.scanner.maven:sonar-maven-plugin:sonar -DskipTests=true
          -Dsonar.host.url=https://sonarcloud.io
          -Dsonar.organization=gridsuite
          -Dsonar.projectKey=org.gridsuite:gridsuite-integration-test
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
